{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "globals": {
    "__DEV__": "readonly",
    "__CONFIG__": "readonly",
    "__ERROR__": "readonly",
    "__AUTH__": "readonly",
    "__CODE__": "readonly"
  },
  "extends": ["standard", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "rules": {
    "prettier/prettier": ["error"]
  }
}
